<p id="notice"><%= notice %></p>

<h1>Technicians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dni</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @technicians.each do |technician| %>
      <tr>
        <td><%= technician.name %></td>
        <td><%= technician.dni %></td>
        <td><%= technician.phone %></td>
        <td><%= technician.address %></td>
        <td><%= technician.provider %></td>
        <td><%= link_to 'Show', technician %></td>
        <td><%= link_to 'Edit', edit_technician_path(technician) %></td>
        <td><%= link_to 'Destroy', technician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Technician', new_technician_path %>
