<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @equipment.description %>
</p>

<p>
  <strong>Adqdate:</strong>
  <%= @equipment.adqDate %>
</p>

<p>
  <strong>Warrexp:</strong>
  <%= @equipment.warrExp %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @equipment.provider %>
</p>

<p>
  <strong>User:</strong>
  <%= @equipment.user %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
