<p id="notice"><%= notice %></p>

<p>
  <strong>Provider:</strong>
  <%= @categorization.provider %>
</p>

<p>
  <strong>Category:</strong>
  <%= @categorization.category %>
</p>

<%= link_to 'Edit', edit_categorization_path(@categorization) %> |
<%= link_to 'Back', categorizations_path %>
